// List of colours
$green: #00AA6D;
$dark-green: #003523;
$dark-red: #942207;
$white: #FFF;
$black: #222;
$light-grey: #CCC;

// Background
body {
	background: $black;
	color: $light-grey;
}

.background-main {
	background: $green;
	background: $green url('../img/patterns/rockywall-alpha.png') top left repeat;
	color: $white;
}

.black {
	color: $black;
}

.green {
	color: $green;
}

.dark-green {
	color: $dark-green;
}

.dark-red {
	color: $dark-red;
}

.white {
	color: $white;
}