// Font stacks
%sans {
	font-family: 'Raleway', sans-serif; // Light: 300; Normal: 400; Semi-bold: 600.
	font-weight: 400;
}

%serif {
	font-family: 'Roboto Slab', serif; // Normal: 400; Bold: 700.
	font-weight: 400;
}

%cursive {
	font-family: 'Indie Flower', cursive; // Normal: 400.
	font-weight: 400;
}

// Text shadow
%text-shadow {
	text-shadow: 0 2px 3px #000;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-normal {
	font-weight: 400;
}

.font-weight-semi-bold {
	font-weight: 600;
}

.font-weight-bold {
	font-weight: 700;
}

// Main text
body, input, ul, ol, select, option, textarea {
	@extend %sans;
	@extend %text-shadow;
}

h1,
h2,
h3,
h4,
h5 {
	@extend %serif;
	@extend %text-shadow;
}

.cursive {
	@extend %cursive;
	@extend %text-shadow;
}

// Text alignment
body {
	text-align: center;
}