// Margin classes
.mbn {
	margin-bottom: 0;
}

.mbs {
	margin-bottom: 10px;
}

.mbm {
	margin-bottom: 25px;
}

.mbl {
	margin-bottom: 40px;
}

.mtn {
	margin-top: 0;
}

.mts {
	margin-top: 10px;
}

.mtm {
	margin-top: 25px;
}

.mtl {
	margin-top: 40px;
}

// Main section
.main, footer {
	margin: 0 auto;
	max-width: 500px;
	text-align: justify;
}

// Footer
@media screen and (min-device-width: 500px) {
	.contact-details {
		max-width: 75%;
		margin: 0 auto;
	}
}