body {
    font-family: 'Raleway', sans-serif; /* light: 300, regular: 400, bold: 700 */
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

.u-text-center {
    text-align: center;
}

.u-js-only {
    display: none;
}

.js .u-js-only {
    display: block;
}

.u-hide {
    display: none;
}

footer {
    text-align: center;
}

.cr-app {
    margin: 0 0.5em 1em;
}

h1 {
    margin-top: 0;
}

a {
    color: #00AA6D;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

.cr-header {
    margin: 1em 0.5em 0;
}

.cr-header-title {
    font-size: 2em;
    margin-bottom: 0.3em;
    text-align: center;
}

@media (min-width: 768px) {
    .cr-app {
        margin: 0 2em 1em;
    }

    .cr-header-title {
        font-size: 3em;
    }
}