body {
    font-family: 'Raleway', sans-serif; /* light: 300, regular: 400, bold: 700 */
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

.u-text-center {
    text-align: center;
}

footer {
    text-align: center;
}

.cr-app {
    margin: 2em;
}

h1 {
    margin-top: 0;
}

a {
    color: #00AA6D;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

.cr-header-title {
    font-size: 2.5em;
    margin: 1em 0.5em 0;
    text-align: center;
}

.cr-app,
.cr-app-content {
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}

.cr-app-section {
    flex-basis: 100%;
    flex-grow: 1;
    margin: 0.675em 0;
}

.cr-app-section.cr-app-section--small {
    flex-grow: 0.7;
}

.cr-section-info {
    margin: 0.675em 3em 0 0;
}

.no-js .cr-section-info {
    margin: 0 auto;
    max-width: 40em;
    width: 100%;
}

.cr-info-portrait {
    float: right;
    margin: 0 0 1em 0.5em;
    width: 6em;
    height: auto;

    border-radius: 50%;
}

@media (min-width: 768px) {
    .cr-header-title {
        font-size: 3em;
    }

    .cr-app-content {
        flex-direction: row;
    }

    .cr-app-section {
        margin: 0.675em;
    }

    .cr-section-info {
        min-width: 16em;
    }
}

@media (min-width: 1300px) {
    .cr-app {
        flex-direction: row;
    }
}