<footer>
    <h1>Need something done? Contact me!</h1>
    <p>Something along the lines of web development, design or illustration? Maybe even an email marketing template for Mailchimp, Campaign Monitor or one of the other many platforms out there? I'm always happy to help!</p>
    <div class="grid contact-details">
        <div class="grid__item two-fifths grid--right">Email:</div><!--
        --><div class="grid__item three-fifths"><a href="mailto:{{ site.email }}">{{ site.email }}</a></div><!--
        --><div class="grid__item two-fifths grid--right">Twitter:</div><!--
        --><div class="grid__item three-fifths"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">@{{ site.twitter_username }}</a></div><!--
        --><div class="grid__item two-fifths grid--right">LinkedIn:</div><!--
        --><div class="grid__item three-fifths"><a href="https://nz.linkedin.com/pub/nick-mertens/30/998/667" target="_blank">Connect with me</a></div>
    </div>
    <p class="align-centre fss">&copy; 2015 Nick Mertens, The Crypt &nbsp;&bull;&nbsp; <a href="{{ site.baseurl }}/feed.xml">RSS feed</a></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/plugins.min.js"></script>
<script src="{{ site.baseurl }}/js/main.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-22828082-3','auto');ga('send','pageview');
</script>

<!-- Featherlight lightbox plugin -->
<script src="{{ site.baseurl}}/js/vendor/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl}}/js/vendor/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- SumoMe -->
<script src="//load.sumome.com/" data-sumo-site-id="4167dfdfda02d59716a74cf4170c5f974f447304f582593db6c7188d333690a0" async="async"></script>