
.icon-emo-coffee:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube-play:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-behance:before { content: '\e804'; } /* '' */
.icon-behance-squared:before { content: '\e805'; } /* '' */
.icon-feather:before { content: '\e806'; } /* '' */