// Body
body {
	padding: 15px;
}

// Nav
.main-nav {
	position: relative;
	top: 20px;
	li {
		display: inline-block;
		list-style: none;
		margin: 0 10px;
	}
}

// Main section
footer, section {
	margin: 0 auto;
	// max-width: 500px;
	text-align: justify;
}

.background-main {
	margin: 0 auto;
}

.twitter {
	margin: 30px 5% 0;
	padding: 5px 15px 8px;
}

// Blog
.pagination {
	text-align: center;
}

// Footer
footer {
	max-width: 768px;
}

@media screen and (min-device-width: 48em) and (-webkit-min-device-pixel-ratio: 1) {
	.contact-details {
		max-width: 75%;
		margin: 0 auto;
	}
	.background-main {
		max-width: 48em;
	}
}