// Body
body {
	padding: 15px;
}

// Images
img {
	max-width: 100%;
	height: auto;
}

// Nav
.main-nav {
	position: relative;
	top: 20px;
	ul {
		padding: 0;
	}
	li {
		display: inline-block;
		list-style: none;
		margin: 0 10px;
	}
}

// Main section
footer, section {
	margin: 0 auto;
	// max-width: 500px;
	text-align: justify;
}

.background-main {
	margin: 0 auto;
	max-width: 48em;
}

.twitter {
	margin: 30px 5% 0;
	padding: 5px 15px 8px;
}

// Blog
.feature-img {
	margin: 20px auto 5px;
}

.feature-img-blog {
	max-width: 45%;
	margin-top: 16px;
	margin-bottom: 16px;
	&.float-left {
		margin-right: 20px;
	}
	&.float-right {
		margin-left: 20px;
	}
}

.pagination {
	text-align: center;
}

// Gallery
.gallery {
	display: inline-block;
	margin: 10px 0 20px;
	img {
		margin: 5px;
	}
}

// Footer
footer {
	max-width: 768px;
}

@media screen and (min-device-width: 48em) {
	.contact-details {
		max-width: 75%;
		margin: 0 auto;
	}
}