// Links
a {
	&:link, &:visited, &:hover, &:active {
		color: $dark-green;
		text-decoration: none;
		font-weight: 600;
		footer & {
			color: $white;
			border-bottom: solid 1px rgba(255,255,255,0);
		}
	}
	&:hover, &:active {
		color: $white;
		footer & {
			border-bottom: solid 2px rgba(255,255,255,1);
		}
	}
}

// Images with Featherlight lightboxes
img[data-featherlight] {
	&:hover, &:focus, &:active {
		cursor: pointer;
	}
}

// Nav
.main-nav {
	a.selected {
		&:link, &:visited {
			color: $white;
		}
		&:hover, &:active {
			color: $dark-green;
		}
	}
}