---
layout: default
title: Blog and portfolio
---

<h1>Welcome to <span class="dark-green font-weight-bold">The Crypt</span></h1>
<h2>Blog &amp; Portfolio</h2>
<p>Welcome to my blog and portfolio! This is where I post new work and the occasional update around illustration, web development and other topics.</p>

<p class="align-centre fsl"><span class="side-lines"><i class="icon-feather dark-green"></i></span></p>

{% for post in paginator.posts %}
<article>
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <p class="date font-weight-light">{{ post.date | date: "%-d %b, %Y" }}</p>
    <div class="content cf">
        {% if post.image %}
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" class="feature-img-blog {% cycle 'float-right', 'float-left' %}" /></a>
        {% endif %}
        {% assign truncatedContent = '' %}
        {% assign paragraphs = post.content | split:'</p>' %}
        {% for paragraph in paragraphs limit:2 %}
            {{ truncatedContent | append: paragraph }}
            {{ truncatedContent | append: '</p>' }}
        {% endfor %}
        <p><a href="{{ site.baseurl }}{{ post.url }}">Read more &rarr;</a></p>
    </div>
</article>

<p class="align-centre fsl"><span class="side-lines"><i class="icon-feather dark-green"></i></span></p>
{% endfor %}

{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <span class="current-page">{{ page }}</span>
            {% elsif page == 1 %}
                <a href="{{ site.baseurl }}/blog/">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% endif %}
    </div>
{% endif %}