.cr-app-content {
    margin: 0 auto;
    max-width: 50em;
}

.cr-app-section {
    box-shadow: 0 0.25em 1em rgba(0,0,0,.3);
    height: calc(100vh - 15em);
    padding: 1em 1.3em;
}

.cr-app-content {
    width: 100%;
}

.cr-info-portrait {
    float: right;
    margin: 0 0 1em 0.5em;
    width: 6em;
    height: auto;

    border-radius: 50%;
}

@media (min-width: 768px) {
    .cr-app-section {
        height: calc(100vh - 12em);
    }

    .cr-section-info {
        min-width: 16em;
    }
}