.cr-header-title {
    text-align: center;
}

.cr-app {
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.cr-app-section {
    flex-grow: 1;
    margin: 0.675em;
}